<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Coupon Warrior | <%= br1.brand1 %> <%= br1.ProductType1 %> &amp; <%= br2.brand2 %> <%= br2.ProductType2 %> Comparisons</title>
      <script src = '/vendor/sweetalert.min.js'></script>
      <link rel='stylesheet' href = '/vendor/sweetalert.css'/>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>

    <body class='prod-background'>
      <% include ./partial/_navbar.ejs %>

      <h1 id= 'message-container' >may the odds be with you</h1>

      <div class="row">
        <div class="card_products col s2 m3 l4" id="firstProd">
          <div class="card">
            <div class="card-image">
              <img id="prodImg1" src="<%- br1.image1 %>">
            </div>
            <div class="card-content">
              <h6 id='pro1'><%= br1.pTitle1 %></h6>
               <p><%= br1.ProductType1 %>
                  (<span id="pro1asin"><%= br1.asin %></span>)
              </p>


              <div class="add-fav-wrapper" id="card1" data-item="<%= br1.brand1 %> (<%= br1.asin %>)" data-item-link="<%= br1.DetailPageURL1 %>">
                <div class="add-fav white">
                  <i class="material-icons unsaved-fave">favorite_border</i> Save to interests
                </div>
              </div>

            </div>
            <div class="card-action">
              <a href="<%- br1.DetailPageURL1 %>">Click here to buy the item!</a>
            </div>
          </div>
         <button type="submit" class ='voteBtn' id="votePro1">Vote!</button>
        </div>

          <% include ./partial/_results.ejs %>

        <div class="card_products col s2 m3 l4" id='secondProd'>
          <div class="card">
            <div class="card-image">
              <img id "prodImg2" src="<%- br2.image2 %>">
            </div>
            <div class="card-content">
              <h6 id='pro2'><%= br2.pTitle2 %></h6>
              <p>
                 <%= br2.ProductType2 %>
                 (<span id="pro2asin"><%= br2.asin %></span>)
              </p>

              <div class="add-fav-wrapper" id="card2" data-item="<%= br2.brand2 %> (<%= br2.asin %>)" data-item-link="<%= br2.DetailPageURL2 %>">
                <div class="add-fav white">
                  <i class="material-icons unsaved-fave">favorite_border</i> Save to interests
                </div>
              </div>

            </div>
            <div class="card-action">
              <a href="<%- br2.DetailPageURL2 %>">Click here to buy the item!</a>
            </div>
          </div>
          <button class ='voteBtn' id="votePro2">Vote!</button>
        </div>

      </div>

      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
      <script type="text/javascript" src="/scripts/app.js"></script>
      <script type="text/javascript" src="/scripts/vote.js"></script>
      <script type="text/javascript" src="/scripts/addFavorites.js"></script>
      <script type="text/javascript" src="/scripts/addScores.js"></script>
    </body>

</html>
