<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
  Image1: <img src="<%- br1.image1 %>"/><br>
  Brand1: <%= br1.brand1 %><br>
  ProductType1: <%= br1.ProductType1 %><br>
  DetailPageURL1: <a href="<%- br1.DetailPageURL1 %>">Link to AMZN product page</a><br><br>

  Image1: <img src="<%- br2.image2 %>"/><br>
  Brand1: <%= br2.brand2 %><br>
  ProductType1: <%= br2.ProductType2 %><br>
  DetailPageURL1: <a href="<%- br2.DetailPageURL2 %>">Link to AMZN product page</a><br><br>



 <script type="text/javascript" src="app.js"></script>
</body>

</html>
